# Header always add Access-Control-Allow-Origin "*"
# Header always add Access-Control-Allow-Headers "Accept, Accept-Encoding, Accept-Language, Connection, Host, Referer, Origin, User-Agent, Accept-Encoding, Content-Length, Content-Type"
# Header always add Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"

# Header always add Access-Control-Allow-Credentials "true"
# Header always add Access-Control-Allow-Origin "http://192.168.0.110:5173"
# Header always add Access-Control-Allow-Headers "TIME-REQUEST, x-xsrf-token, Accept, expires, x-requested-with, Accept-Encoding, pragma, cache-control, Accept-Language, Connection, Host, Referer, Origin, User-Agent, Accept-Encoding, Content-Length, Content-Type, Token, App, Sid, Rs, Idgroup"
# Header always add Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
# php_value upload_max_filesize 500M
# php_value post_max_size 500M